In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(0, datetime.datetime(2018, 11, 29, 0, 0, 57, 796000), '73', 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1, datetime.datetime(2018, 11, 29, 0, 1, 30, 796000), '24', 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 29, 0, 4, 1, 796000), '24', 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 29, 0, 4, 55, 796000), '73', 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 29, 0, 7, 13, 796000), '24', 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(50, 'Ava', 'Robinson', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (98, 'Jordyn', 'Powell', 'F', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.86404),
 ('SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003, 75.67628),
 ('SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A', 2004, 290.55955),
 ('SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032', 1994, 305.162),
 ('SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', 0, 282.43546)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR8IEZO1187B99055E', 'Marc Shaiman', '', 'NaN', 'NaN'),
 ('AR558FS1187FB45658', '40 Grit', '', 'NaN', 'NaN'),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', 'NaN', 'NaN'),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', '40.79086', '-73.96644'),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', '-13.442', '-41.9952')]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 29, 0, 0, 57, 796000), 0, 29, 3, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 29, 0, 1, 30, 796000), 0, 29, 3, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 29, 0, 4, 1, 796000), 0, 29, 3, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 29, 0, 4, 55, 796000), 0, 29, 3, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 29, 0, 7, 13, 796000), 0, 29, 3, 11, 2018, '3')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [8]:
!tar cvfz allfiles.tar.gz *

Analysis.ipynb
README.md
__pycache__/
__pycache__/sql_queries.cpython-36.pyc
create_tables.py
data/
data/Untitled.ipynb
data/song_data/
data/song_data/A/
data/song_data/A/B/
data/song_data/A/B/C/
data/song_data/A/B/C/TRABCRU128F423F449.json
data/song_data/A/B/C/TRABCTK128F934B224.json
data/song_data/A/B/C/TRABCUQ128E0783E2B.json
data/song_data/A/B/C/TRABCIX128F4265903.json
data/song_data/A/B/C/TRABCYE128F934CE1D.json
data/song_data/A/B/C/TRABCEC128F426456E.json
data/song_data/A/B/C/TRABCXB128F4286BD3.json
data/song_data/A/B/C/TRABCAJ12903CDFCC2.json
data/song_data/A/B/C/TRABCPZ128F4275C32.json
data/song_data/A/B/C/TRABCKL128F423A778.json
data/song_data/A/B/C/TRABCEI128F424C983.json
data/song_data/A/B/C/TRABCFL128F149BB0D.json
data/song_data/A/B/B/
data/song_data/A/B/B/TRABBBV128F42967D7.json
data/song_data/A/B/B/TRABBLU128F93349CF.json
data/song_data/A/B/B/TRABBXU128F92FEF48.json
data/song_data/A/B/B/TRABBAM128F429D223.json
data/song_data/A/B/B/TRABBJE12903CDB442.json
data/song_data/A/B/B/TRABBNP128F932546F.json
data/song_data/A/B/B/TRABBOP128F931B50D.json
data/song_data/A/B/B/TRABBZN12903CD9297.json
data/song_data/A/B/B/TRABBOR128F4286200.json
data/song_data/A/B/B/TRABBTA128F933D304.json
data/song_data/A/B/B/TRABBKX128F4285205.json
data/song_data/A/B/B/TRABBVJ128F92F7EAA.json
data/song_data/A/B/A/
data/song_data/A/B/A/TRABACN128F425B784.json
data/song_data/A/B/A/TRABAWW128F4250A31.json
data/song_data/A/B/A/TRABATO128F42627E9.json
data/song_data/A/B/A/TRABAXL128F424FC50.json
data/song_data/A/B/A/TRABAFJ128F42AF24E.json
data/song_data/A/B/A/TRABAXR128F426515F.json
data/song_data/A/B/A/TRABAXV128F92F6AE3.json
data/song_data/A/B/A/TRABAZH128F930419A.json
data/song_data/A/B/A/TRABAFP128F931E9A1.json
data/song_data/A/B/A/TRABAIO128F42938F9.json
data/song_data/A/B/A/TRABAVQ12903CBF7E0.json
data/song_data/A/B/.ipynb_checkpoints/
data/song_data/A/A/
data/song_data/A/A/C/
data/song_data/A/A/C/TRAACFV128F935E50B.json
data/song_data/A/A/C/TRAACLV128F427E123.json
data/song_data/A/A/C/TRAACVS128E078BE39.json
data/song_data/A/A/C/TRAACHN128F1489601.json
data/song_data/A/A/C/TRAACSL128F93462F4.json
data/song_data/A/A/C/TRAACTB12903CAAF15.json
data/song_data/A/A/C/TRAACOW128F933E35F.json
data/song_data/A/A/C/TRAACPE128F421C1B9.json
data/song_data/A/A/C/TRAACZK128F4243829.json
data/song_data/A/A/C/TRAACQT128F9331780.json
data/song_data/A/A/C/TRAACNS128F14A2DF5.json
data/song_data/A/A/C/TRAACIW12903CC0F6D.json
data/song_data/A/A/C/TRAACCG128F92E8A55.json
data/song_data/A/A/C/TRAACER128F4290F96.json
data/song_data/A/A/B/
data/song_data/A/A/B/TRAABNV128F425CEE1.json
data/song_data/A/A/B/TRAABJV128F1460C49.json
data/song_data/A/A/B/TRAABVM128F92CA9DC.json
data/song_data/A/A/B/TRAABLR128F423B7E3.json
data/song_data/A/A/B/TRAABCL128F4286650.json
data/song_data/A/A/B/TRAABDL12903CAABBA.json
data/song_data/A/A/B/TRAABXG128F9318EBD.json
data/song_data/A/A/B/TRAABYN12903CFD305.json
data/song_data/A/A/B/TRAABRB128F9306DD5.json
data/song_data/A/A/B/TRAABJL12903CDCF1A.json
data/song_data/A/A/B/TRAABYW128F4244559.json
data/song_data/A/A/A/
data/song_data/A/A/A/TRAAADZ128F9348C2E.json
data/song_data/A/A/A/TRAAARJ128F9320760.json
data/song_data/A/A/A/TRAAAPK128E0786D96.json
data/song_data/A/A/A/TRAAAVG12903CFA543.json
data/song_data/A/A/A/TRAAAFD128F92F423A.json
data/song_data/A/A/A/TRAAAVO128F93133D4.json
data/song_data/A/A/A/TRAAAAW128F429D538.json
data/song_data/A/A/A/TRAAAEF128F4273421.json
data/song_data/A/A/A/TRAAAMQ128F1460CD3.json
data/song_data/A/A/A/TRAAAMO128F1481E7F.json
data/song_data/A/A/A/TRAAABD128F429CF47.json
data/song_data/A/A/.ipynb_checkpoints/
data/song_data/A/.ipynb_checkpoints/
data/song_data/.ipynb_checkpoints/
data/.ipynb_checkpoints/
data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/log_data/
data/log_data/2018/
data/log_data/2018/11/
data/log_data/2018/11/2018-11-29-events.json
data/log_data/2018/11/2018-11-27-events.json
data/log_data/2018/11/2018-11-11-events.json
data/log_data/2018/11/2018-11-18-events.json
data/log_data/2018/11/2018-11-08-events.json
data/log_data/2018/11/2018-11-30-events.json
data/log_data/2018/11/2018-11-17-events.json
data/log_data/2018/11/2018-11-20-events.json
data/log_data/2018/11/2018-11-28-events.json
data/log_data/2018/11/2018-11-06-events.json
data/log_data/2018/11/2018-11-23-events.json
data/log_data/2018/11/2018-11-13-events.json
data/log_data/2018/11/2018-11-21-events.json
data/log_data/2018/11/2018-11-16-events.json
data/log_data/2018/11/2018-11-04-events.json
data/log_data/2018/11/2018-11-05-events.json
data/log_data/2018/11/2018-11-15-events.json
data/log_data/2018/11/.ipynb_checkpoints/
data/log_data/2018/11/2018-11-12-events.json
data/log_data/2018/11/2018-11-07-events.json
data/log_data/2018/11/2018-11-01-events.json
data/log_data/2018/11/2018-11-22-events.json
data/log_data/2018/11/2018-11-25-events.json
data/log_data/2018/11/2018-11-10-events.json
data/log_data/2018/11/2018-11-14-events.json
data/log_data/2018/11/2018-11-02-events.json
data/log_data/2018/11/2018-11-24-events.json
data/log_data/2018/11/2018-11-26-events.json
data/log_data/2018/11/2018-11-03-events.json
data/log_data/2018/11/2018-11-09-events.json
data/log_data/2018/11/2018-11-19-events.json
data/log_data/2018/.ipynb_checkpoints/
etl.ipynb
etl.py
sql_queries.py
test.ipynb